<div class="user-content user-portfolio">
  {{#if model.topics}}
    {{#load-more
      class="paginated-topics-list"
      selector=".paginated-topics-list .topic-list tr"
      action=(action "loadMore")
    }}
      {{basic-topic-list topicList=model showPosters=true}}
      {{conditional-loading-spinner condition=model.loadingMore}}
    {{/load-more}}
  {{else}}
    <div class="empty-portfolio">
      <div class="empty-portfolio-message">
        {{html-safe (theme-i18n "empty_portfolio")}}
        {{#if category}}
          <p>
            {{html-safe (theme-i18n "empty_portfolio_link")}}
            <a href={{category.url}}>
              {{category.name}}
            </a>
          </p>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>